.layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "back-button     hud     menu-buttons"
    "board     board   board";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr;

  color: white;

  .backButtonContainer {
    grid-area: back-button;
  }

  .menuContainer {
    grid-area: menu-buttons;
  }

  .HUDContainer {
    grid-area: hud;
  }

  .boardContainer {
    grid-area: board;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red; // temporary
  }

  .leftPanel {
    grid-area: left-panel;
  }

  .rightPanel {
    grid-area: right-panel;
  }
}
