button,
.button {
  cursor: pointer;

  min-width: 5rem;
  min-height: 2.5rem;

  border-radius: 0.5rem;
  padding: 0.5rem;

  text-transform: uppercase;

  transition: opacity 0.5s;

  &:hover {
    opacity: 0.5;
  }
}
